.team-name{   
    margin-top: -15px;
    padding-top: 40px;
    margin-bottom: 0;
}

.team-pic{
    /*border-radius: 100%;*/
    height: 200px;
    display: inline-block;
}

.team-intro{
    border-bottom: 1px solid black;  
    width: 100%;
}

.team-info{
    margin-top: 0;
    padding-bottom: 5px;
}

.company-summary{
    padding: 20px;
    margin-left:77px;
    margin-right:77px;
}

.user-messages{
    padding: 3px;
    margin-left:77px;
    margin-right:77px;
    margin-top: 0;
}

.ind-message{
     border-bottom: 1px solid #f6f6f6;
}

#inner-wrapper{
    display: inline-block;
}

.intro-section{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.team-summary{
    padding-top: 5px;
}

.form{
    margin-left: 67px;
}

#messageConfirm{
    margin-left:78px;
}

.numbers{
    font-size:150px;
}