<script>
    var chartColors = {red:'#d12a18',black:'#000000'};
    $(function () {
        $('#members').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Worldwide Rescue Teams'
            },
            xAxis: {
                categories: ['U.S.A.', 'Canada', 'South Korea', 'U.K.', 'others']
            },
            yAxis: {
                title: {
                    text: 'team count'
                }
            },
            series: [{
                showInLegend: false,
                name: 'team count',
                data: [270, 20, 12, 10, 19]
            }],
            plotOptions: {
              series: {
                color: '#d12a18'
              }
            }
        });
    }); 

    $(function () {
    $('#money').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Global Progress'
        },
        xAxis: {
            title: {
                text: 'year'
            },
            categories: ['2013', '2014', '2015']
        },
        yAxis: [
            { // primary yAxis
              min: 0,
              max: 150,
              labels: {
                format: '${value}k',                
                style: {
                  color: chartColors['black']
                }
              },
              title: {
                text: 'funds raised (USD)',
                style: {
                  color: chartColors['black']
                }
              }
            }, 
            { // secondary yAxis
              min: 0,
              max: 150,
              labels: {
                format: '{value}',
                style: {
                  color: chartColors['red']
                }
              },
              title: {
                text: 'refugees rescued',
                style: {
                  color: chartColors['red']
                }
              },
              opposite: true
            }
        ],
        tooltip: {
          shared: true
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          x: 75,
          verticalAlign: 'top',
          y: 50,
          floating: true
        },
        series: [
        {
            yAxis: 0,
            name: 'funds raised',
            data: [95, 100, 150],
            tooltip: {
              valuePrefix: '$',
              valueSuffix: 'k'
            },
              color: chartColors['black']
        }, {
            yAxis: 1,
            name: 'rescues',
            data: [17, 23, 25],
              color: chartColors['red']
        }]
    });
}); 

</script>

<script>

  $(document).ready(function(){
 var map = new GMaps({
    el: '#pointers_map',
    lat: 37.376818,
    lng: -121.912378,
    zoom: 10,
    zoomControl : true,
    zoomControlOpt: {
        style : 'SMALL',
        position: 'TOP_LEFT'
    },
    panControl : false,
  });

   GMaps.geolocate({
    success: function(position){
      map.setCenter(position.coords.latitude, position.coords.longitude);

    },
    error: function(error){
      alert('Geolocation failed: '+error.message);
    },
    not_supported: function(){
      alert("Your browser does not support geolocation");
    }
  });


    map.addMarker({
      lat: 37.376818,
      lng: -121.912378,
      title: 'CodingDojo LINK',
      icon:'../assets/yellow-dot.png',
      infoWindow: {
        content: '<img class="logo" src="http://cdn.skilledup.com/wp-content/uploads/2015/01/Coding-Dogo-logo.jpg"><span ng-model="theTeam.teamName" class="team_name">CodingDojo Link<br>Raised <span class="team_raised">$280</span></span><p>Contact: Michael Choi</p><p>Email: mchoi@codingdojo.com</p><p>Website: <a href="#/team-codingDojo">View team page</button>'
      }
    });

    map.addMarker({
      lat: 37.334906,
      lng: -121.884552,
      title: 'SJSU LINK',
      icon:'../assets/green-dot.png',
      infoWindow: {
        content: '<img class="logo" src="http://san-jose-state-university-san-jose-california.runnerspace.com/members/images/4/26196_full.jpg"><span class="team_name">SJSU Link<br>Raised <span class="team_raised">$3,200</span></span><p>Contact: John Doe</p><p>Email: johndoe@sjsu.edu</p><p>Website: <a href="#/team-sjsu">View team page</a>'
      }
    });
    map.addMarker({
      lat: 37.428264,
      lng: -122.168845,
      title: 'Stanford LINK',
      icon:'../assets/green-dot.png',
      infoWindow: {
        content: '<img class="logo" src="https://yt3.ggpht.com/-Y8D6Fg-k6qc/AAAAAAAAAAI/AAAAAAAAAAA/9lU8yzk8H14/s900-c-k-no/photo.jpg"><span class="team_name">Stanford Link<br>Raised <span class="team_raised">$5,200</span></span><p>Contact: John Doe</p><p>Email: johndoe@stanford.edu</p><p>Website: <a href="#/team-stanford">View team page</a>'
      }
    });
    map.addMarker({
      lat: 37.241854,
      lng: -121.921446,
      title: 'Leigh HS LINK',
      icon:'../assets/red-dot.png',
      infoWindow: {
        content: '<img class="logo" src="http://images.maxpreps.com.edgesuite.net/Mascot/AAAAAAAAAAAAAAAAAAAAAA/6GJmve6iykWw6N0D3sAFyQ/1,210,89/1423252879_leigh_longhorns.gif"><span class="team_name">Leigh HS Link<br>Raised <span class="team_raised">$600</span></span><p>Contact: John Doe</p><p>Email: johndoe@gmail.com</p><p>Website: <a href="#/team-leighhs">View Team Page</a>'
      }
    });
    map.addMarker({
      lat: 30.291698,
      lng: -97.737750,
      title: 'UT',
      icon:'../assets/green-dot.png',
      infoWindow: {
        content: '<img class="logo" src="https://www.utexas.edu/sites/default/files/images/Trademarked_Silhouette2.jpg"><span class="team_name">UT Austin Link<br>Raised <span class="team_raised">$10,200</span></span><p>Contact: John Doe</p><p>Email: johndoe@utaustin.edu</p><p>Website: <a href="#/team">View team page</a>'
      }
    });

    $(".locate").on('click', function() {
      console.log("hello");
    })

    // $(".locate").click(function() {
    //   console.log("working");
    //   var lon = $(this).attr("lon");
    //   var lat = $(this).attr("lat");
    //   console.log(lon)
    //   map.setCenter(lat, lon);
    // });
    // $("#locate").click(function() {
    //   map.setCenter(30.291698, -97.737750);
    // });
});

</script>

<div ng-controller="mainController">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <!-- <h1 class="header center orange-text">Liberty in North Korea</h1> -->

    <div class="row center">
        <div class="col s3">
          <img src="./assets/link-logo.png" alt="LiNK logo" height="100px" width="100px">
          <p>We have rescue teams organized all over the World. Find one near you or start your own!</p>
        </div>
        <div class="col s4">
            <div id="members" style="width:100%; height:300px;"></div>
        </div>
        <div class="col s4">
            <div id="money" style="width:100%; height:300px;"></div>
        </div>
    </div>



      <div class="row center">
        <h5 class="header col s8 light">NEARBY RESCUE TEAMS</h5>
        <h5 class="header col s4 light">BLOG</h5>
      </div>
      <div class="row center">
        <div class="col s8">
          <div id="pointers_map">
          </div>
          <div class="row legend">
            <span class="col s2 funding_legend_red">$0-500</span>
            <span class="col s2 funding_legend_yellow">$501-$2000</span>
            <span class="col s2 funding_legend_green">$2001-$5000</span>
            <span class="col s2 funding_legend_blue">$5000+</span>
          </div>
        </div>
        <div class="col s4 newsfeed">
                        <i class="tiny material-icons" alt="perm_identity">perm_identity</i>
            <i class="tiny material-icons">settings_voice</i>
            <i class="tiny material-icons">subject</i>
            <i class="tiny material-icons">visibility</i>
            <i class="tiny material-icons">assignment</i>
            <i class="tiny material-icons">settings_power</i>
            <i class="tiny material-icons">new_releases</i>
              <ul >
                <li ng-repeat= "story in news"><i class="tiny material-icons">{{ story.categoryimg}}</i><a href="{{ story.link }}" target="_blank">{{ story.title }} </a>

                      <p>{{story.group}}, {{ story.date }}</p>
                      <a class="locate" lat="{{ story.lat }}" lon="{{ story.lon }}" href="#/"><img class="locate_pin locate" lat="{{ story.lat }}" lon="{{ story.lon }}" src="../assets/locate_pin.png" height="20px"></a>

                </li>
              </ul>
              
           
        </div>
        </div>
      </div>


    </div>
  </div>


  <div class="container" ng-controller="mainController">
    <div class="section">
      <!-- newsfeed -->
      
     
 
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
</div>

