<script>
    $(function () {
        $('#members').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Members'
            },
            xAxis: {
                categories: ['Utah branch']
            },
            yAxis: {
                title: {
                    text: 'Members'
                }
            },
            series: [{
                name: 'Membership',
                data: [30]
            
            }]
        });
    }); 

    $(function () {
    $('#money').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Donations and Rescued'
        },
        xAxis: {
            categories: ['Refugees', 'Donation(Thousand)']
        },
        yAxis: {
            title: {
                text: 'Thousand Dollars raised and Refugees Rescued'
            }
        },
        series: [{
            name: '',
            data: [ 10, 30 ]
        }




        ]
    });
}); 


</script>

<div ng-controller="teamController">
    <!-- Team intro section includes team name, team pic, and overall team data-->
    <div class="teamIntro #f5f5f5 grey lighten-4 row offset-3">
            <div class="valign-wrapper intro-section">
                <img class="team-pic circle" src="assets/teampic.png" alt="team pic">

                <div class="valign-wrapper" id="inner-wrapper">
                    <h1 class="team-name center-align"><span >Team Austin</span></h1>
                    <p class="center-align team-info"><strong>Founded:</strong> June 23, 2015 | <strong>President:</strong> Tom Anderson | <strong> Total Members: </strong> 12</p>
                </div>
            </div>
    </div>

    <div class="row team-numbers">
        <div>
            <p class="center-align team-summary"><strong>Summary:</strong> Hard working. Dedicated. We are a team looking for the best opportunties to provide others. Join us in our mission!</p>
        </div>
        <div class="col s3 offset-s1">
            <div class="valign-wrapper member-count">
                <i class="valign fa fa-user fa-4x red-text"></i>
                <p class="valign"><span class="numbers">12</span></p>
                <p class="valign">MEMBERS</p>
            </div>
        </div>
        <div class="valign-wrapper col s3">
            <i class="valign fa fa-odnoklassniki fa-4x red-text"></i>
            <p class="valign"><span class="numbers">8</span></p>
            <p class="valign">REFUGEE RESCUES</p>
        </div>
        <div class="valign-wrapper col s5">
            <i class="valign fa fa-usd fa-4x red-text"></i>
            <p class="valign"><span class="numbers">1500</span>
            <p class="valign">FUNDS RAISED THIS YEAR</p>
        </div>
    </div>

    <div class="teamMessages">
            <h3 class="center-align">Messages</h3>
    
            <div id="message" ng-repeat="message in messages">
                <h6 class="user-messages"> <strong>Title: <i></strong> {{message.title}} </i></h6>
                <p class="user-messages"><i> <strong>{{ message.name }}</strong> posted on {{ message.date | date: "MMMM d, y"}}:</i></p>
                <p class="user-messages ind-message">{{ message.post }}</p>
            </div>

    </div>


    

    <p class="red-text" style="display:none" id="messageConfirm">Thanks for posting!</p>

    <div class="form">
            <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" ng-model="post.name">
                        <label for="name">Name</label>
                    </div>  
            </div>
        
       
            <div class="row">
                    <div class="input-field col s6">
                        <input id="title" type="text"  ng-model="post.title">
                        <label for="title">Title</label>
                     </div>
            </div> 
       
   
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="post.post"></textarea>
                    <label for="textarea1">Post</label>
                </div>
            </div>

        <button class="btn waves-effect waves-light" id="submitMessage" type="submit" name="action" ng-click="addMessage()" >Post Message
            <i class="material-icons"> send</i>
        </button>
    </div>


    <div class="meet-team #f5f5f5 grey lighten-4" >
        <h3 class="center-align" ng-hide="memberpic">Our Current Team</h3>
        <div class="row" >
            <div class="col s4" ng-repeat="member in teampics">
                <img class="circle center-align membersize"  src="assets/{{ member.image }}" ng-model="memberpic" alt="user pic"/>
                <p class="center-align">{{ member.name }}</p>
            </div>
        </div>
    </div>
    <div class="team-activities #f5f5f5 grey lighten-4" >
        <h3 class="center-align" ng-hide="activitypic">Recent Team Activities</h3>
        <div class="row" >
            <div class="col s6" ng-repeat="activity in activitypics">
                <img class="circle center-align  eventsize" src="{{ activity.image }}" ng-model="activitypic" alt="user pic"/>
                <p class="center-align">{{ activity.activity}}</p>
            </div>
        </div>
    </div>
</div>

</div>
   