<div class="navbar-fixed" ng-controller="teamController">
    <nav>
        <div class="nav-wrapper">
          <a href="#/" class="brand-logo">Link</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">About</a></li>
            <li class="active"><a href="#">View Teams</a></li>
          </ul>
        </div>
    </nav>
    

</div>

 <div class="row">
   
    <div class="row">
        <div class="input-field col s3">
        <input id="name" type="text">
        <label for="name">Name</label>
    </div>
        
       
      
    <div class="row">
       	<div class="input-field col s3">
	    <input id="title" type="text">
	    <label for="title">Title</label>
	</div>
   
   	<div class="row">
        <div class="input-field col s6">
          	<textarea id="textarea1" class="materialize-textarea"></textarea>
          	<label for="textarea1">Post</label>
        </div>
  	</div>

  	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    	<i class="material-icons">send</i>
	</button>
  
  </div>